<h1 class="d-flex justify-content-center mt-3 ">
    Reporte de variación de peso por lote
</h1>

<div class="container">
    <div class="row">
      <form [formGroup]="formularioLote">
        <div class="col-sm-4">   
            <label class="form-label">Lotes</label>
            <select class="form-control"
                    formControlName="lote">
                <option value=""> -- Seleccione Lote -- </option>
                <option *ngFor="let lote of lotes"
                        [value]="lote"> {{lote| titlecase}} </option>
            </select>
        </div>
      </form>
    </div>
</div>

<div class="mt-5"></div>

<div class="container " >
  
<h2 class="">
  Peso diario
</h2>
  <div class="row">
    <div class="col-sm-8">
      <div style="display:block">
        <canvas baseChart class="chart"
              [data]="barChartData"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [type]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
      </div>
    </div>
  </div>
</div>




<div class="mt-5"></div>

<div class="container">
  <h2 class="">
    Peso mensual vacas del lote
  </h2>
  <div class="row">
    <div class="col-sm-8">
      <div style="display:block">
        <canvas baseChart class="chart2"
              [data]="barChartData2"
              [options]="barChartOptions2"
              [plugins]="barChartPlugins2"
              [type]="barChartType2"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
      </div>
    </div>
  </div>
</div>


